@import url('https://fonts.googleapis.com/css?family=Nunito');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  padding-top: 3.5rem;
  padding-bottom: 0 !important;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

@import '~bootstrap/scss/bootstrap';