@import url('https://fonts.googleapis.com/css?family=Nunito');

html, body {
  height: 100%;
}

body {
  padding-top: 3.5rem;
  padding-bottom: 0 !important;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

$font-family: 'Nunito', sans-serif;

@import '~bootstrap/scss/bootstrap';